@font-face {
    font-family: 'Bakemono';
    src: url('fonts/Bakemono-Stereo-Bold-TRIAL.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Bakemono';
    src: url('fonts/Bakemono-Stereo-Medium-TRIAL.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Bakemono';
    src: url('fonts/Bakemono-Stereo-Regular-TRIAL.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Bakemono';
    src: url('fonts/Bakemono-Mono-Light-TRIAL.ttf') format('truetype');
    font-weight: light;
}

@font-face {
    font-family: 'Bakemono';
    src: url('fonts/Bakemono-Stereo-Thin-TRIAL.ttf') format('truetype');
    font-weight: thin;
}

@font-face {
    font-family: 'TestFounders';
    src: url('fonts/TestFoundersGrotesk-Medium-BF66175e9723b7a.otf') format('opentype');
    font-weight: medium;
}

@font-face {
    font-family: 'TestFounders';
    src: url('fonts/TestFoundersGrotesk-Light-BF66175e9730f02.otf') format('opentype');
    font-weight: light;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bakemono', sans-serif;
    background-color: #b6b7b9;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #e4e6e5;
    display: flex;
    justify-content: space-between; /* Distribui o conteúdo igualmente entre os itens */
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 20px 40px; /* O padding de 40px garante espaço nas laterais */
    width: calc(100% - 80px); /* Subtrai o padding das laterais */
    margin: 30px auto;
    border-radius: 10px;
}

header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    flex: 1; /* Faz com que o título ocupe o espaço disponível */
    text-align: center; /* Garante que o texto esteja centralizado no cabeçalho */
}

nav ul {
    list-style: none;
    display: flex;
    width: calc(100% - 80px); /* Subtrai o padding das laterais */
    justify-content: space-evenly; /* Distribui igualmente os itens de navegação */
    padding: 0;
    margin: 0;
    gap: 130px; /* Aumenta o espaço horizontal entre os itens */
}

nav ul li {
    display: flex;
    align-items: center; /* Alinha as imagens e textos na mesma altura */
    justify-content: center; /* Alinha o conteúdo do item ao centro */
    width: 130%; /* Faz os itens de navegação ocuparem o máximo de largura possível */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center; /* Garante que os itens de menu fiquem no centro */
    width: 150%; /* Ocupa a largura do espaço disponível no item */
}

nav ul li a:hover {
    color: #777;
}

nav ul li img {
    max-width: 30px; /* Ajuste o tamanho das imagens conforme necessário */
    height: auto;
    margin-right: 0px; /* Dá um pequeno espaço entre as imagens e o texto */
    transition: filter 0.3s ease; /* Adiciona uma transição suave */
}

nav ul li img:hover {
    filter: sepia(80%); /* Adiciona um tom sépia */
    }


/* INTENSIVE */
.hero12 {
    font-family: 'TestFounders';
    font-size: 1rem;
    font-weight: light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e2e1;
    padding: 40px;
    margin: 30px auto;
    border-radius: 40px;
    width: calc(100% - 80px);
    margin-top: -50px;
}
.hero12 .content1 {
    max-width: 100%;
    font-family: 'TestFounders';
    font-size: 1.1rem;
    font-weight: medium;
    
}

.hero1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e2e1;
    padding: 40px;
    margin: 30px auto;
    border-radius: 40px;
    width: calc(100% - 80px);
}

.hero1 .content {
    max-width: 45%;
}

.hero1 .content1 {
    max-width: 100%;
    
}

.hero1 h2 {
    font-size: 3rem;
    font-weight: 800;
    color: #15009e;
}

.hero1 p {
    font-family: 'TestFounders';
    margin: 15px 0;
    font-size: 1.8rem;
    font-weight: light;
    color: #15009e;
}


.hero1 button {
    font-family: 'TestFounders';
    font-size: 1.8rem;
    font-weight: light;
    background-color: #15009e;;
    color: #c1c5c7;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero1 button:hover {
    background-color: #555;
}

.hero1 img {
    max-width: 60%;
    border-radius: 40px;
}

/* IGREJA 360 */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e2e1;
    padding: 40px;
    margin: 30px auto;
    border-radius: 40px;
    width: calc(100% - 80px);
}

.hero .content {
    max-width: 45%;
}

.hero h2 {
    font-size: 5rem;
    font-weight: normal;
}

.hero p {
    font-family: 'TestFounders';
    margin: 15px 0;
    font-size: 1.8rem;
    font-weight: medium;
    color: #898989;
    text-shadow: none;
}


.hero button {
    font-family: 'TestFounders';
    font-size: 1.8rem;
    font-weight: light;
    background-color: #c1c5c7;
    color: #898989;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: #555;
}

.hero img {
    max-width: 45%;
    border-radius: 10px;
}


/* CCV NETWORK */
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e2e1;
    padding: 40px;
    margin: 30px auto;
    border-radius: 40px;
    width: calc(100% - 80px);
}

.section img {
    max-width: 45%;
    border-radius: 10px;
}

.section .text {
font-family: 'TestFounders';
font-size: 1rem;
font-weight: light;
max-width: 45%; /* Mantém a largura original */
background-color: #898989b5;
padding: 60px 40px;  /* Aumenta o padding superior e inferior */
margin: 30px auto;
border-radius: 40px;
width: calc(100% - 80px);
height: 620px; /* Adiciona uma altura fixa se necessário */
}

.section .text1 {
font-family: 'TestFounders';
font-size: 1rem;
font-weight: light;
max-width: 45%; /* Mantém a largura original */
padding: 60px 40px;  /* Aumenta o padding superior e inferior */
margin: 30px auto;
border-radius: 40px;
width: calc(100% - 80px);
height: 720px; /* Adiciona uma altura fixa se necessário */
}


.section .botao-comum {
    font-family: 'TestFounders';
    font-size: 1.8rem;
    font-weight: light;
    background-color: #c1c5c7;
    color: #898989;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section .botao-comum:hover {
    background-color: #555;
}

.section .botao-comum1 {
    font-family: 'TestFounders';
    justify-content: center; /* Centraliza o botão horizontalmente */
    align-items: center;
    font-size: 2.4rem;
    font-weight: light;
    background-color: #c1c5c7;
    color: #898989;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section .botao-comum1:hover {
    background-color: #555;
}

.section h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

.section p {
    margin-top: 15px;
}

/* FORMAÇÃO */
.section1 {
    position: relative; /* Define o contêiner como referência */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e2e1;
    padding: 40px;
    margin: 30px auto;
    border-radius: 40px;
    width: calc(100% - 80px);
}

.section1 img {
    max-width: 60%;
    border-radius: 10px;
}

.section1 .text {
    font-family: 'TestFounders';
    font-size: 1rem;
    font-weight: light;
    max-width: 45%; /* Mantém a largura original */
    background-color: #898989b5;
    padding: 60px 40px;  /* Aumenta o padding superior e inferior */
    margin: 30px auto;
    border-radius: 40px;
    width: calc(100% - 80px);
    height: 620px; /* Adiciona uma altura fixa se necessário */
}

.section1 .text1 {

    position: relative; /* Também pode ser usado se a seta estiver dentro deste contêiner */
    max-width: 45%; /* Mantém a largura original */
    padding: 60px 40px;  /* Aumenta o padding superior e inferior */
    margin: 30px auto;
    border-radius: 40px;
    width: calc(100% - 80px);
    height: 720px; /* Adiciona uma altura fixa se necessário */
}

.section1 .text1 p {
    font-family: 'TestFounders';
    font-size: 1rem;
    font-weight: 800;
}

.section1 .text1 h3 {
    font-size: 2.4rem;
    font-weight: medium;
}

.section1 .botao-comum {
    font-family: 'TestFounders';
    font-size: 1.8rem;
    font-weight: light;
    background-color: #c1c5c7;
    color: #898989;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section1 .botao-comum:hover {
    background-color: #555;
}

.section1 .botao-comum1 {
    font-family: 'TestFounders';
    justify-content: center; /* Centraliza o botão horizontalmente */
    align-items: center;
    font-size: 2.4rem;
    font-weight: light;
    background-color: #c1c5c7;
    color: #898989;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section1 .botao-comum1:hover {
    background-color: #555;
}

.section1 h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

.section1 p {
    margin-top: 15px;
}

.SETA {
    position: absolute; /* Permite o posicionamento personalizado */
    bottom: -100px; /* Define a distância do canto inferior */
    right: -80px; /* Define a distância do canto direito */
    width: 300px; /* Ajusta o tamanho da seta */
    height: auto; /* Mantém a proporção */
}


/* PADROZINÇÕES */
#intensive {
    display: flex;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    align-items: center; /* Centraliza verticalmente */
    background-image: url('images/intensive223.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    margin: 30px auto;
    border-radius: 40px;
    width: calc(100% - 80px);
    height: 470px;
    cursor: pointer;
    position: relative;
}

#intensive .content {
    text-align: left; /* Garante que o texto e botão fiquem alinhados à esquerda */
    max-width: 500px; /* Define uma largura máxima para o conteúdo */
}

#intensive .video-container {
    position: absolute; /* Permite reposicionar o vídeo */
    right: 100px; /* Move o vídeo mais para a direita */
    bottom: 35px; /* Desce o vídeo mais para baixo */
    width: 400px; /* Aumenta a largura do vídeo */
    height: 240px; /* Ajusta a altura proporcionalmente */
}

#intensive iframe {
    width: 100%; /* O vídeo ocupa 100% do container */
    height: 100%;
    border-radius: 20px; /* Bordas arredondadas para um acabamento mais bonito */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}


#ccvNetwork {
    position: relative; /* Permite o posicionamento absoluto dentro da seção */
}

.top-left-img {
    position: absolute;
    top: 12px;
    left: 45px;
    max-width: 35px; /* Define a largura máxima */
    max-height: 35px; /* Define a altura máxima */
    height: auto; /* Mantém a proporção */
    width: auto; /* Garante que as proporções sejam respeitadas */
}

.top-right-img {
    position: absolute;
    top: 7px;
    right: 45px;
    max-width: 35px; /* Define a largura máxima */
    max-height: 35px; /* Define a altura máxima */
    height: auto; /* Mantém a proporção */
    width: auto; /* Garante que as proporções sejam respeitadas */
}

#formacoes {
    position: relative; /* Permite o posicionamento absoluto dentro da seção */
}

.top-left-img {
    font-size: 1rem;
    font-weight: 800;
    position: absolute;
    top: 20px;
    left: 45px;
    max-width: 35px; /* Define a largura máxima */
    max-height: 35px; /* Define a altura máxima */
    height: auto; /* Mantém a proporção */
    width: auto; /* Garante que as proporções sejam respeitadas */
}

.top-right-img {
    font-size: 1rem;
    font-weight: 800;
    position: absolute;
    top: 20px;
    right: 85px;
    max-width: 35px; /* Define a largura máxima */
    max-height: 35px; /* Define a altura máxima */
    height: auto; /* Mantém a proporção */
    width: auto; /* Garante que as proporções sejam respeitadas */
}


